<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
<!-- Bootstrap Modal Dialog -->
<!-- Modal -->
<div class="modal fade" id="modalRegistro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="main-login main-center">
            <div class="form-group">
                <label for="email" class="cols-sm-2 control-label">Email</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="email" id="email" placeholder="Ingrese un e-mail" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="cols-sm-2 control-label">Contraseña</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Ingrese una contraseña" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="confirm" class="cols-sm-2 control-label">Confirme la Contraseña</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirme su contraseña" />
                    </div>
                </div>
            </div>
            <div class="form-group ">
                <button type="button" class="btn btn-primary btn-lg btn-block login-button">Registrarse</button>
            </div>
        </div>
    </div>
</div>
<script>
    function check(value) {
        //if (value.trim() == "") {
        //    document.getElementById('errorname').innerHTML = "this is an invalid name";
        //}
    }
</script>
