<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
<!-- Bootstrap Modal Dialog -->
<!-- Modal -->
<div class="modal fade" id="modalAutoEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="main-login main-center">
            <div class="form-group">
                <label for="email" class="cols-sm-2 control-label">Marca</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <input type="text" maxlength="25" class="form-control" id="marcaEditar" placeholder="Ingrese la marca" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="cols-sm-2 control-label">Modelo</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <input type="text" maxlength="25" class="form-control" id="modeloEditar" placeholder="Ingrese el modelo" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="cols-sm-2 control-label">Patente</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <input type="text" maxlength="7" class="form-control" id="patenteEditar" placeholder="eg: AAA222" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="cols-sm-2 control-label">Asientos</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <input type="text" maxlength="2" class="form-control" id="asientosEditar" placeholder="Ingrese la cantidad de asientos" />
                    </div>
                </div>
            </div>
            <div class="form-group ">
                <button type="button" onclick="guardarAutoEditar()" class="btn btn-primary btn-lg btn-block login-button">Guardar</button>
            </div>
        </div>
    </div>
</div>
