<div class="modal fade" id="modalCalificar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="main-login main-center">
            <div class="form-group ">
                <button type="button" onclick="calificar(-1)" class="btn btn-primary btn-lg btn-block login-button" style="background-color:firebrick">MALO</button>
                <button type="button" onclick="calificar(0)" class="btn btn-primary btn-lg btn-block login-button" style="background-color:greenyellow">REGULAR</button>
                <button type="button" onclick="calificar(1)" class="btn btn-primary btn-lg btn-block login-button">BUENO</button>
            </div>
        </div>
    </div>
</div>