@using UnAventon.Models
@model UnAventon.Models.Viajes
<link href="~/Content/select2.css" rel="stylesheet" />
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "NuevoViaje";
}

<h2>Detalle de Viaje</h2>

<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form">
                    <div class="form-group col-lg-12" style="text-align:center">
                        <div class="input-group" style="display:inline-flex">
                            <label class="cols-lg-12 control-label" style="margin-right:2em;background: lightgray;font-size: x-large;padding-left: 0.5em;padding-right: 0.5em">Auto: </label>
                            <label class="cols-lg-12" style="font-size: x-large">@Model.Auto.Marca - @Model.Auto.Modelo - @Model.Auto.Patente</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
