@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    La Plata, Buenos Aires<br />
    CP: 1900<br/>
    Av. 7 Nº 747<br />
    <abbr title="Phone">Tel:</abbr>
    0221 - 421-2017
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">Soporte@unaventon.com.ar</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@unaventon.com.ar</a>
</address>